@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

body {
  background-color: rgba(0, 0, 0, 0.568);
  font-family: "Raleway", sans-serif;
}

#container {
  width: 300px;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 20vh;
  // background-color: black;
}

.attribution {
  text-align: center;
  padding-top: 20px;
  font-size: 0.8rem;
  color: #fff;
  a {
    color: #fff;
  }
}

img {
  width: 100%;
  border-radius: 12px;
  height: auto;
  object-fit: cover;
}

.card {
  background-color: white;
  border: 1px solid rgb(92, 92, 207);
  padding: 8px;
  border-radius: 12px;
}

.tag {
  padding: 5px 9px;
  border: 1px solid rgb(67, 67, 165);
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;

  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;

  margin: 0 auto;
  display: block;

  cursor: pointer;
}

.card_details {
  padding: 16px 8px 8px 8px;
}

button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}

@media screen and(max-width: 600px) {
  #container {
    width: 85vw;

    margin-top: 10vh;
    margin-bottom: 20vh;
  }
}
